body{
    background-color: #AC9250;
}
h1{
    text-align: center;
    color:#163756;
    text-shadow: 3px 0px 5px white;}
.imagens_container, .tabela_pontos, .pontos{
    display:flex;
    justify-content: center;
    align-items: center;
}
.quadradim{
    display: grid;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    grid-template-columns: 45px ;
    grid-template-rows: 40px;
   
}

.quadrado{
   display:flex;
} 
.blue{
    color: blue ;
    text-shadow: 2px 0px 3px  rgba(14, 14, 14, 0.788);
    font-weight: bold;
}
.vc_red{
    color: red ;
    text-shadow: 2px 0px 3px rgba(2, 2, 2, 0.651);
    font-weight: bold;
}
.blue, .vc_red{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 100px;
    text-align: center;
    padding-top: 10px;
}
.tabela{
    display: flex;
    background-color:white;
    box-shadow: 2px 4px 0px #0000008e;
    width: 571px;
    
    margin: auto;
}

.pontos_tot{
    padding: 20px;
    text-align: center;
    text-decoration: overline underline ;
    color:#163756;
    font-weight: bold;
    text-shadow: 2px 0px 3px rgba(255, 255, 255, 0.514);

}
.pontos{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 45px;
    width: 371px;
    margin: auto;
}
.ponto_voce, .ponto_Robo{
    background-color: transparent;
    border-left: 1px solid rgb(7, 91, 247);
    border-bottom: 1px solid rgb(7, 91, 247);
    border-top: 1px solid rgb(7, 91, 247);
    width: 50px;
    outline: none;
    height: 20px;
    padding: 5px 1px;
    margin-top: 0px;
   
}



.ponto_voce{
    background-color: rgba(113, 158, 241, 0.199);
    text-align: center;
    color: red ;
    text-shadow: 2px 0px 3px rgb(255, 255, 255);
    font-weight: bold;
}

.ponto_Robo{
    margin-top: -14px;
    border-top: 0px;
    background-color: rgba(113, 158, 241, 0.199);
    text-align: center;
    color: blue ;
    text-shadow: 2px 0px 3px rgb(255, 255, 255);
    font-weight: bold;


}
.quadrado2{
    display: flex;
}
.quadro_pontos{
    display: grid;
    grid-template-columns: 25px;
    grid-template-rows: 30px;
    border-left: 1px solid rgb(7, 91, 247);
    border-right: 1px solid rgb(7, 91, 247);
    border-bottom: 1px solid rgb(7, 91, 247);
}
 .quadrim_baixo.quadro_pontos{
    margin-top: -19px;
}
.quadrim_baixo, .blue{
    border-bottom: 0px solid black;
}
.borda_cima{
    border-top: 0px solid black;
}